<h1>El registro fue creado con exito!</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Código</th>
      <th>Detalle</th>
      <th>Categoria</th>
      <th>Valor</th>
      <th>Descuento</th>
      <th>Tax</th>
      <th>Total</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @sale.cod %></td>
        <td><%= @sale.detail %></td>
        <td><%= @sale.category %></td>
        <td><%= @sale.value %></td>
        <td><%= @sale.discount %> %</td>
        <td><% if @sale.tax== 1 %>
        <%= 'Si'%>
        <%else%>
        <%= 'No'%>
        <%end%>
        </td>
        <td><%= @sale.total.to_i %></td>

      </tr>
  </tbody>
</table>
 
<%= link_to 'a Home', root_path %>